/* Estilos Principales */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@500&family=Roboto&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Tipografias */
.tx-titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.tx-intermedio {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.tx-parrafo {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

/* Colores */
.tx-VerdeOscuro {
  color: #00272d;
}

.tx-VerdeClaro {
  color: #134647;
}

.tx-VerdePastel {
  color: #0c7e7e;
}

.tx-tierra {
  color: #bfac8b;
}

/* Colores de Fondo */
.bg-VerdeOscuro {
  background-color: #00272d;
}

.bg-VerdeClaro {
  background-color: #134647;
}

.bg-VerdePastel {
  background-color: #0c7e7e;
}

.bg-tierra {
  background-color: #bfac8b;
}

/*Estilos Index*/

.navbar-toggler {
  margin-right: 8px;
  background-color: #bfac8b;
  border: 1px solid #bfac8b;
}

.navbarRedem {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Estilos de la página principal */
.fondo_principal {
  filter: brightness(30%);
}

/* Cards Caracteristicas */

.section-caracteristicas {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1800' height='600' preserveAspectRatio='none' viewBox='0 0 1800 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1173%26quot%3b)' fill='none'%3e%3crect width='1800' height='600' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 0.76)'%3e%3c/rect%3e%3cpath d='M0%2c717.099C139.344%2c737.941%2c292.856%2c715.448%2c404.849%2c629.957C514.423%2c546.313%2c524.587%2c390.943%2c587.766%2c268.424C654.992%2c138.057%2c799.282%2c32.94%2c788.132%2c-113.316C776.963%2c-259.814%2c632.241%2c-353.555%2c532.147%2c-461.108C435.668%2c-564.778%2c345.697%2c-677.029%2c214.316%2c-729.895C75.247%2c-785.854%2c-90.413%2c-832.062%2c-224.831%2c-765.705C-357.905%2c-700.012%2c-363.851%2c-511.612%2c-458.838%2c-397.586C-551.057%2c-286.883%2c-753.527%2c-253.857%2c-770.413%2c-110.769C-787.404%2c33.207%2c-617.122%2c124.955%2c-534.569%2c244.13C-468.556%2c339.427%2c-420.667%2c442.653%2c-333.844%2c519.471C-234.991%2c606.933%2c-130.539%2c697.574%2c0%2c717.099' fill='rgba(0%2c 30%2c 34%2c 0.76)'%3e%3c/path%3e%3cpath d='M1800 1077.857C1887.967 1088.008 1973.091 1028.6390000000001 2034.421 964.765 2089.76 907.131 2092.71 821.13 2118.963 745.6659999999999 2142.388 678.333 2181.4809999999998 616.597 2180.344 545.315 2179.115 468.297 2154.738 393.669 2112.321 329.372 2065.862 258.947 2006.358 195.106 1928.258 163.192 1845.865 129.52300000000002 1752.32 121.69799999999998 1667.119 147.449 1582.241 173.103 1501.783 226.993 1459.4270000000001 304.892 1419.6390000000001 378.068 1443.431 466.329 1448.531 549.466 1452.644 616.513 1460.864 681.09 1486.317 743.254 1512.659 807.5889999999999 1550.403 863.6800000000001 1597.949 914.3969999999999 1658.423 978.904 1712.162 1067.721 1800 1077.857' fill='rgba(0%2c 48%2c 56%2c 0.76)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1173'%3e%3crect width='1800' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.img-card {
  filter: brightness(50%);
}

.img-card:hover {
  filter: brightness(90%);
}

.btn-tierra {
  font-family: Nunito;
  background-color: #bfac8b;
  border: #bfac8b 1px solid;
}

.btn-tierra:hover {
  background-color: #0c7e7e;
  border: #0c7e7e 1px solid;
}

.cards-index {
  background-color: #ffffffdd;
}

/* Sección Problema/Oportunidad */
.tx-justificado {
  text-align: justify;
}

.img-card2 {
  filter: brightness(100%);
}

.img-card2:hover {
  filter: brightness(60%);
}

.seccion-miembros {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1717%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 0.93)'%3e%3c/rect%3e%3cpath d='M14 500L514 0L775 0L275 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M337.8 500L837.8 0L1202.3 0L702.3 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M652.6 500L1152.6 0L1418.1 0L918.1 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M1399 500L899 0L825.5 0L1325.5 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3cpath d='M1106.2 500L606.2 0L400.70000000000005 0L900.7 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3cpath d='M785.4 500L285.4 0L-5.600000000000023 0L494.4 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3cpath d='M1013.3060401022808 500L1440 73.3060401022808L1440 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 500L426.6939598977192 500L 0 73.3060401022808z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1717'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1718'%3e%3cstop stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1719'%3e%3cstop stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.card-miembros {
  background-color: rgba(240, 248, 255, 0.603);
}

/* Fondos de Secciones */
.section-avance {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1800' height='1300' preserveAspectRatio='none' viewBox='0 0 1800 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1162%26quot%3b)' fill='none'%3e%3crect width='1800' height='900' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 0.76)'%3e%3c/rect%3e%3cpath d='M0%2c533.555C97.539%2c517.206%2c187.865%2c473.179%2c262.091%2c407.821C329.476%2c348.487%2c348.258%2c256.287%2c399.007%2c182.221C463.601%2c87.95%2c601.053%2c27.909%2c600.705%2c-86.368C600.365%2c-198.118%2c473.332%2c-262.358%2c397.403%2c-344.352C324.221%2c-423.38%2c268.707%2c-533.388%2c163.871%2c-558.093C59.733%2c-582.633%2c-36.555%2c-504.048%2c-138.169%2c-470.56C-235.834%2c-438.374%2c-346.179%2c-435.248%2c-421.457%2c-365.194C-500.133%2c-291.978%2c-549.923%2c-187.374%2c-557.662%2c-80.18C-565.174%2c23.867%2c-501.505%2c114.499%2c-463.09%2c211.486C-422.323%2c314.409%2c-416.254%2c443.078%2c-325.37%2c506.286C-234.171%2c569.713%2c-109.559%2c551.918%2c0%2c533.555' fill='rgba(0%2c 32%2c 37%2c 0.76)'%3e%3c/path%3e%3cpath d='M1800 1627.202C1946.229 1627.095 2098.36 1634.4850000000001 2224.632 1560.74 2353.316 1485.586 2457.89 1362.421 2498.758 1219.112 2537.508 1083.231 2460.681 947.754 2439.2709999999997 808.087 2418.1130000000003 670.06 2477.103 496.719 2373.645 402.934 2267.962 307.13199999999995 2092.878 408.84 1955.701 369.73 1820.264 331.116 1728.134 162.25199999999995 1588.3029999999999 179.02599999999995 1449.862 195.63300000000004 1348.261 328.269 1281.3890000000001 450.621 1220.8310000000001 561.4200000000001 1262.722 695.352 1238.382 819.252 1212.194 952.556 1108.701 1070.867 1133.292 1204.475 1159.836 1348.695 1251.124 1482.835 1374.97 1561.359 1498.5520000000001 1639.716 1653.67 1627.309 1800 1627.202' fill='rgba(0%2c 46%2c 53%2c 0.76)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1162'%3e%3crect width='1800' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/*Valores*/
.tarjetas-valores {
  border: 1px solid #bfac8b;
  border-radius: 10px;
}

/* Sobre el proyecto */
.bg-proyecto {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='750' preserveAspectRatio='none' viewBox='0 0 1440 750'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1089%26quot%3b)' fill='none'%3e%3crect width='1440' height='750' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 1)'%3e%3c/rect%3e%3cpath d='M0 120.86C69.28 93.15 120.39 150.05 188 112.8C230.06 89.62 179.13 24.12 219.33 0C273.13 -32.28 297.66 0 376 0C470 0 470 0 564 0C658 0 658 0 752 0C846 0 846 0 940 0C1034 0 1034 0 1128 0C1201.11 0 1201.92 -5.16 1274.22 0C1295.92 1.55 1296.16 13.43 1316 13.43C1326.45 13.43 1323.51 0.81 1334.8 0C1417.51 -5.91 1463.93 -44.53 1504 0C1548.53 49.47 1504 94 1504 188C1504 282 1504 282 1504 376C1504 410.18 1514.98 413 1504 444.36C1482.08 507 1438.2 507.51 1438.2 564C1438.2 606.03 1488.25 596.4 1504 641.41C1521.15 690.4 1538.82 731.52 1504 752C1444.82 786.82 1410 752 1316 752C1282.82 752 1273.85 771.02 1249.65 752C1179.85 697.16 1181.31 604.29 1128 604.29C1081.46 604.29 1106.65 707.46 1049.96 752C1012.65 781.32 994.98 752 940 752C846 752 846 752 752 752C658 752 658 752 564 752C470 752 470 752 376 752C306.99 752 301.51 766.66 237.97 752C207.51 744.97 212.72 708.62 188 708.62C163.95 708.62 169.98 745.18 140.43 752C75.98 766.87 30.02 792.19 0 752C-40.19 698.19 0 658 0 564C0 470 0 470 0 376C0 282 0 282 0 188C0 154.43 -24.72 130.75 0 120.86' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M752 132.3C730.94 132.3 708.41 161.78 708.41 188C708.41 210.24 730.77 229.21 752 229.21C772.1 229.21 791.06 210.04 791.06 188C791.06 161.59 772.26 132.3 752 132.3' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1128 94C1113.65 94 1135.33 150 1108.65 188C1041.33 283.88 1024.64 275.2 940 361.76C932.73 369.2 924.84 367.21 924.84 376C924.84 393.13 923.58 402.96 940 413.6C1025.16 468.76 1058.5 518.94 1128 507.6C1173.72 500.14 1162 443.72 1170.45 376C1181.94 283.92 1181.63 279.38 1167.88 188C1160.41 138.38 1143.27 94 1128 94' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M564 328.34C493.33 328.34 410.18 349.78 410.18 376C410.18 402.78 495.32 434.34 564 434.34C594.79 434.34 609.12 404.04 609.12 376C609.12 351.04 592.8 328.34 564 328.34' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M376 417.78C356.29 417.78 344.67 494.87 344.67 564C344.67 586.26 358.33 600.56 376 600.56C398.36 600.56 424.74 589.89 424.74 564C424.74 498.5 396.32 417.78 376 417.78' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M279.81 188C331.49 106.62 307.33 83.18 349.89 0C355.43 -10.82 362.94 0 376 0C470 0 470 0 564 0C658 0 658 0 752 0C846 0 846 0 940 0C997.22 0 1035.64 -35.5 1054.43 0C1085.4 58.5 1072.08 105.35 1039.53 188C1014.86 250.63 988.18 290.55 940 290.55C894.46 290.55 893.13 241.54 852.1 188C799.13 118.89 803.92 45.26 752 45.26C698.02 45.26 699.52 119.67 640.29 188C605.52 228.11 611.55 244.84 564 262.14C479.4 292.93 455.65 248.61 376 284.19C328.19 305.54 325.46 323.49 309.08 376C281.82 463.4 323.81 482.55 288.71 564C263.27 623.04 238.5 610.64 188 656.97C136.05 704.64 142.77 722.2 83.81 752C48.77 769.71 16.52 777.39 0 752C-25.39 712.98 -16.02 681.6 0 623.19C9.76 587.6 44.49 600.4 51.55 564C68.45 476.8 13.54 453.87 47.92 376C81.77 299.33 116.14 313.18 188 254.92C232.09 219.18 250.55 234.08 279.81 188' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1310.3 188C1311.78 183.87 1312.57 184.04 1316 181.29C1409.42 106.49 1446.95 30.86 1504 32.9C1540.95 34.22 1504 110.45 1504 188C1504 245.44 1526.35 256.06 1504 302.89C1481.48 350.06 1454.04 334.4 1414.27 376C1360.04 432.73 1360.24 499.54 1316 499.54C1276.24 499.54 1247.45 440.9 1246.26 376C1244.6 285.13 1276.91 281.22 1310.3 188' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M671.79 376C708.91 332.21 709.94 293.59 752 293.59C798.56 293.59 816.2 323.65 849.03 376C900.99 458.86 889.85 468.64 921.57 564C935.33 605.37 930.97 606.69 940 649.45C950.82 700.69 961.28 709.38 961.28 752C961.28 760.66 950.64 752 940 752C904.75 752 903.89 758.14 869.5 752C809.89 741.36 807.08 718.43 752 718.43C728.75 718.43 737.03 747.68 712.83 752C643.03 764.46 638.41 752 564 752C470 752 470 752 376 752C336.74 752 297.47 769.34 297.47 752C297.47 726.26 332.37 704.11 376 665.83C439.52 610.11 445.6 616.96 511.78 564C539.6 541.74 540.94 542.47 564 515.38C620.95 448.47 614.91 443.1 671.79 376' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M470 188C470 180.28 523.07 165.44 564 165.44C574.16 165.44 572.17 177.66 572.17 188C572.17 192.91 569.5 195.94 564 195.94C518.42 195.94 470 195.53 470 188' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M913.14 188C897.72 98.05 891.21 78.35 902.4 0C904.64 -15.65 921.2 0 940 0C946.13 0 951.33 -5.73 952.26 0C966.54 88.27 975.39 98.93 970.41 188C969.26 208.59 954.72 219.33 940 219.33C926.09 219.33 916.52 207.71 913.14 188' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1457 188C1457 170.85 1489.54 150.4 1504 150.4C1513.04 150.4 1504 169.2 1504 188C1504 201.93 1511.93 215.85 1504 215.85C1488.43 215.85 1457 203.57 1457 188' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140.08 376C147.71 347.14 164.79 334.58 188 334.58C209.46 334.58 224.1 348.75 229.42 376C246.48 463.46 248.4 477.4 232.76 564C227.69 592.06 211.91 605.32 188 605.32C159.2 605.32 134.07 596.14 127.35 564C110.11 481.48 117.38 461.85 140.08 376' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M734.45 376C741.05 365.33 742.8 357.97 752 357.97C762.19 357.97 768.42 363.19 773.23 376C807.12 466.21 836.33 479.72 829.41 564C825.72 608.97 794.83 634.5 752 634.5C692.45 634.5 628.17 615.79 624.65 564C619.39 486.54 677.37 468.34 734.45 376' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 710.22C7.39 710.22 27.18 738.48 27.18 752C27.18 759.37 5.36 760.23 0 752C-8.23 739.34 -6.2 710.22 0 710.22' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M356.96 752C356.96 745.76 363.54 737.51 376 731.11C467.06 684.38 487.94 639.09 564 645.74C607.4 649.53 614.92 714.9 614.92 752C614.92 768.03 589.46 752 564 752C470 752 470 752 376 752C366.48 752 356.96 756.2 356.96 752' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1089'%3e%3crect width='1440' height='750' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.fs-10 {
  font-size: 4rem;
}

.w-23 {
  width: 23%;
}

.btn-verde {
  font-family: Nunito;
  background-color: #0c7e7e;
  border: #134647 1px solid;
}

.btn-verde:hover {
  background-color: #13b4b4;
}

.fondo-blureado {
  backdrop-filter: blur(4px);
}
