/* Estilos Principales */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@500&family=Roboto&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Tipografias */
.tx-titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.tx-intermedio {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.tx-parrafo {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

/* Colores */
.tx-VerdeOscuro {
  color: #00272d;
}

.tx-VerdeClaro {
  color: #134647;
}

.tx-VerdePastel {
  color: #0c7e7e;
}

.tx-tierra {
  color: #bfac8b;
}

/* Colores de Fondo */
.bg-VerdeOscuro {
  background-color: #00272d;
}

.bg-VerdeClaro {
  background-color: #134647;
}

.bg-VerdePastel {
  background-color: #0c7e7e;
}

.bg-tierra {
  background-color: #bfac8b;
}

/*Estilos Index*/

.navbar-toggler {
  margin-right: 8px;
  background-color: #bfac8b;
  border: 1px solid #bfac8b;
}

.navbarRedem {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Estilos de la página principal */
.fondo_principal {
  filter: brightness(30%);
}

/* Cards Caracteristicas */

.section-caracteristicas {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1800' height='600' preserveAspectRatio='none' viewBox='0 0 1800 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1173%26quot%3b)' fill='none'%3e%3crect width='1800' height='600' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 0.76)'%3e%3c/rect%3e%3cpath d='M0%2c717.099C139.344%2c737.941%2c292.856%2c715.448%2c404.849%2c629.957C514.423%2c546.313%2c524.587%2c390.943%2c587.766%2c268.424C654.992%2c138.057%2c799.282%2c32.94%2c788.132%2c-113.316C776.963%2c-259.814%2c632.241%2c-353.555%2c532.147%2c-461.108C435.668%2c-564.778%2c345.697%2c-677.029%2c214.316%2c-729.895C75.247%2c-785.854%2c-90.413%2c-832.062%2c-224.831%2c-765.705C-357.905%2c-700.012%2c-363.851%2c-511.612%2c-458.838%2c-397.586C-551.057%2c-286.883%2c-753.527%2c-253.857%2c-770.413%2c-110.769C-787.404%2c33.207%2c-617.122%2c124.955%2c-534.569%2c244.13C-468.556%2c339.427%2c-420.667%2c442.653%2c-333.844%2c519.471C-234.991%2c606.933%2c-130.539%2c697.574%2c0%2c717.099' fill='rgba(0%2c 30%2c 34%2c 0.76)'%3e%3c/path%3e%3cpath d='M1800 1077.857C1887.967 1088.008 1973.091 1028.6390000000001 2034.421 964.765 2089.76 907.131 2092.71 821.13 2118.963 745.6659999999999 2142.388 678.333 2181.4809999999998 616.597 2180.344 545.315 2179.115 468.297 2154.738 393.669 2112.321 329.372 2065.862 258.947 2006.358 195.106 1928.258 163.192 1845.865 129.52300000000002 1752.32 121.69799999999998 1667.119 147.449 1582.241 173.103 1501.783 226.993 1459.4270000000001 304.892 1419.6390000000001 378.068 1443.431 466.329 1448.531 549.466 1452.644 616.513 1460.864 681.09 1486.317 743.254 1512.659 807.5889999999999 1550.403 863.6800000000001 1597.949 914.3969999999999 1658.423 978.904 1712.162 1067.721 1800 1077.857' fill='rgba(0%2c 48%2c 56%2c 0.76)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1173'%3e%3crect width='1800' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.img-card {
  filter: brightness(50%);
}

.img-card:hover {
  filter: brightness(90%);
}

.btn-tierra {
  font-family: Nunito;
  background-color: #bfac8b;
  border: #bfac8b 1px solid;
}

.btn-tierra:hover {
  background-color: #0c7e7e;
  border: #0c7e7e 1px solid;
}

.cards-index {
  background-color: #ffffffdd;
}

/* Sección Problema/Oportunidad */
.tx-justificado {
  text-align: justify;
}

.img-card2 {
  filter: brightness(100%);
}

.img-card2:hover {
  filter: brightness(60%);
}

.seccion-miembros {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1717%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 0.93)'%3e%3c/rect%3e%3cpath d='M14 500L514 0L775 0L275 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M337.8 500L837.8 0L1202.3 0L702.3 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M652.6 500L1152.6 0L1418.1 0L918.1 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M1399 500L899 0L825.5 0L1325.5 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3cpath d='M1106.2 500L606.2 0L400.70000000000005 0L900.7 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3cpath d='M785.4 500L285.4 0L-5.600000000000023 0L494.4 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3cpath d='M1013.3060401022808 500L1440 73.3060401022808L1440 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 500L426.6939598977192 500L 0 73.3060401022808z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1717'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1718'%3e%3cstop stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1719'%3e%3cstop stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.card-miembros {
  background-color: rgba(240, 248, 255, 0.603);
}

/* Fondos de Secciones */
.section-avance {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1800' height='1300' preserveAspectRatio='none' viewBox='0 0 1800 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1162%26quot%3b)' fill='none'%3e%3crect width='1800' height='900' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 0.76)'%3e%3c/rect%3e%3cpath d='M0%2c533.555C97.539%2c517.206%2c187.865%2c473.179%2c262.091%2c407.821C329.476%2c348.487%2c348.258%2c256.287%2c399.007%2c182.221C463.601%2c87.95%2c601.053%2c27.909%2c600.705%2c-86.368C600.365%2c-198.118%2c473.332%2c-262.358%2c397.403%2c-344.352C324.221%2c-423.38%2c268.707%2c-533.388%2c163.871%2c-558.093C59.733%2c-582.633%2c-36.555%2c-504.048%2c-138.169%2c-470.56C-235.834%2c-438.374%2c-346.179%2c-435.248%2c-421.457%2c-365.194C-500.133%2c-291.978%2c-549.923%2c-187.374%2c-557.662%2c-80.18C-565.174%2c23.867%2c-501.505%2c114.499%2c-463.09%2c211.486C-422.323%2c314.409%2c-416.254%2c443.078%2c-325.37%2c506.286C-234.171%2c569.713%2c-109.559%2c551.918%2c0%2c533.555' fill='rgba(0%2c 32%2c 37%2c 0.76)'%3e%3c/path%3e%3cpath d='M1800 1627.202C1946.229 1627.095 2098.36 1634.4850000000001 2224.632 1560.74 2353.316 1485.586 2457.89 1362.421 2498.758 1219.112 2537.508 1083.231 2460.681 947.754 2439.2709999999997 808.087 2418.1130000000003 670.06 2477.103 496.719 2373.645 402.934 2267.962 307.13199999999995 2092.878 408.84 1955.701 369.73 1820.264 331.116 1728.134 162.25199999999995 1588.3029999999999 179.02599999999995 1449.862 195.63300000000004 1348.261 328.269 1281.3890000000001 450.621 1220.8310000000001 561.4200000000001 1262.722 695.352 1238.382 819.252 1212.194 952.556 1108.701 1070.867 1133.292 1204.475 1159.836 1348.695 1251.124 1482.835 1374.97 1561.359 1498.5520000000001 1639.716 1653.67 1627.309 1800 1627.202' fill='rgba(0%2c 46%2c 53%2c 0.76)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1162'%3e%3crect width='1800' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/*Valores*/
.tarjetas-valores {
  border: 1px solid #bfac8b;
  border-radius: 10px;
}

/* Sobre el proyecto */
.bg-proyecto {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 1)'%3e%3c/rect%3e%3cpath d='M140 85.81C119.78 110.81 107.49 109.57 105 140C99.54 206.66 109.92 211.52 124.09 280C127.42 296.1 125.21 304.22 140 309.17C203.16 330.32 209.64 329.15 280 332.2C349.64 335.22 358.79 300.12 420 321.31C485.58 344.02 475.8 371.95 533.58 420C545.8 430.16 546.9 437.72 560 437.72C572.61 437.72 580.85 434.02 585 420C604.19 355.16 614.69 345.42 606.67 280C602.19 243.42 592.65 235.16 560 216C499.31 180.38 487.71 198 420 170.43C394.38 160 387.56 162.85 373.33 140C334.49 77.63 300.13 41.23 313.87 0C323.46 -28.77 366.93 0 420 0C490 0 490 0 560 0C630 0 630 0 700 0C740.25 0 742.69 -9.18 780.5 0C812.69 7.82 812.94 34 840 34C858.14 34 850.16 5.04 870.91 0C920.16 -11.96 925.45 0 980 0C1050 0 1050 0 1120 0C1156.2 0 1157.75 -7.35 1192.41 0C1227.75 7.5 1224.57 20.14 1260 29.7C1328.36 48.14 1334.57 64.74 1400 56C1445.74 49.89 1438.02 17.73 1482.35 0C1508.02 -10.27 1531.59 -20.42 1540 0C1560.42 49.58 1540 70 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1575 525 1540 560C1505 595 1470 560 1400 560C1344 560 1317.3 590.93 1288 560C1250.98 520.93 1278.99 489.73 1267.37 420C1264.99 405.73 1263.32 392 1260 392C1256.72 392 1254.36 405.75 1254.17 420C1253.25 489.75 1291.6 524.71 1257.78 560C1224.51 594.71 1188.89 560 1120 560C1050 560 1050 560 980 560C939.28 560 936.74 569.35 898.55 560C866.74 552.22 871.87 526.22 840 525.74C772.6 524.73 769.27 540.31 700 557.02C698.27 557.44 699.77 559.96 698 560C629.77 561.45 629 560 560 560C508.62 560 500.49 575.9 457.23 560C430.49 550.17 438.95 508.53 420 508.53C400.67 508.53 408.08 549.92 380.67 560C338.08 575.66 330.34 560 280 560C210 560 210 560 140 560C70 560 38.99 591.01 0 560C-31.01 535.33 -15.21 495.97 0 448.64C7.29 425.97 45 433.88 45 420C45 406.44 7.07 415.74 0 393.75C-15.43 345.74 0 336.88 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C179.12 0 218.24 -17.27 218.24 0C218.24 25.63 176.4 40.81 140 85.81' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 65.63C1102.6 65.63 1088.22 100.54 1085 140C1079.47 207.73 1087.25 214.1 1102.5 280C1104.75 289.7 1110.31 291.2 1120 291.2C1142.39 291.2 1162.28 299.25 1166.67 280C1179.52 223.65 1169.23 207.69 1154.49 140C1145.89 100.51 1137.35 65.63 1120 65.63' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 265.76C828.07 265.76 817.89 273.51 817.89 280C817.89 286.08 828.39 290.91 840 290.91C860.44 290.91 882 286.22 882 280C882 273.64 860.12 265.76 840 265.76' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 96C8.87 96 25.86 114.31 32.08 140C48.14 206.31 55.77 216.77 44.55 280C39.73 307.19 13.29 320.83 0 320.83C-8.98 320.83 0 300.41 0 280C0 210 0 210 0 140C0 118 -7.17 96 0 96' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 73.33C384.58 50.33 370.32 23.49 370.32 0C370.32 -13.18 395.16 0 420 0C490 0 490 0 560 0C626.95 0 693.91 -26.11 693.91 0C693.91 35.49 635.38 103.02 560 123.2C498.43 139.68 479.42 111.93 420 73.33' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M746.67 140C746.67 110.17 798.47 118.26 840 84C883.32 48.26 871.51 26.91 916.36 0C941.51 -15.09 948.18 0 980 0C1034.45 0 1077.66 -29.38 1088.89 0C1104.42 40.62 1064.75 71.66 1033.53 140C1010.3 190.85 1022.4 223.82 980 238.38C925.64 257.04 904.89 233.8 840 206.44C788.23 184.61 746.67 171.39 746.67 140' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1205.22 140C1205.22 109.23 1228.33 82.73 1260 82.73C1306.8 82.73 1362.16 107.64 1362.16 140C1362.16 175.65 1305 218.75 1260 218.75C1226.53 218.75 1205.22 177.24 1205.22 140' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1448.28 140C1448.28 105.18 1511.64 68.11 1540 68.11C1557.5 68.11 1540 104.06 1540 140C1540 172.44 1556.79 204.88 1540 204.88C1510.93 204.88 1448.28 173.57 1448.28 140' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M679.58 280C686.45 255.56 688.71 233.33 700 233.33C711.82 233.33 705.13 264.8 725.79 280C775.13 316.31 780.18 330.22 840 336.36C907.28 343.27 918.47 287.35 980 306.1C1055.67 329.17 1047.84 362.44 1114.4 420C1117.84 422.98 1117.58 423.32 1120 427.18C1161.49 493.32 1202.22 516.49 1202.22 560C1202.22 582.9 1161.11 560 1120 560C1050 560 1050 560 980 560C971.09 560 970.01 564 962.18 560C900.01 528.25 905.88 507.97 840 488.51C774.79 469.25 757.63 461.09 700 482.55C661.63 496.84 684.02 540.07 648 560C614.02 578.8 604 560 560 560C527.24 560 494.47 575.26 494.47 560C494.47 536.28 522.73 516.13 560 482.03C599.25 446.13 621.94 463.19 647.5 420C681.73 362.17 660.2 348.9 679.58 280' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M186.67 420C205.05 385.41 232.2 399.99 280 391.53C348.87 379.34 355.24 368.86 420 378.69C449.01 383.09 467.55 399.98 467.55 420C467.55 439.16 440.04 434.83 420 457.06C376.94 504.83 388.85 525.07 341.35 560C318.85 576.54 310.67 560 280 560C235.25 560 208.69 587.29 190.49 560C162.02 517.29 160.29 469.65 186.67 420' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1428.82 420C1443.77 368.18 1504.59 342.86 1540 342.86C1560.18 342.86 1540 381.43 1540 420C1540 490 1561.64 511.64 1540 560C1530.32 581.64 1493.89 580.8 1477.37 560C1438.3 510.8 1412.45 476.75 1428.82 420' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 528.18C13.77 528.18 43.75 551.2 43.75 560C43.75 567.11 12.66 569.21 0 560C-9.21 553.3 -8.1 528.18 0 528.18' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 53.2C503.96 53.2 439.09 13.89 439.09 0C439.09 -12.71 499.55 0 560 0C588.91 0 617.83 -11.28 617.83 0C617.83 15.32 593.33 53.2 560 53.2' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M830 140C830 136.8 836.01 138.23 840 134C901.92 68.23 898.21 60.89 961.82 0C968.21 -6.11 970.91 0 980 0C995.56 0 1010.93 -12.51 1011.11 0C1011.96 57.49 997.16 70.21 982.06 140C981.61 142.1 982.12 143.67 980 143.78C911.09 147.23 908.96 148.86 840 147.12C833.96 146.97 830 143.36 830 140' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1255.94 140C1255.94 137.72 1257.65 135.76 1260 135.76C1263.47 135.76 1267.57 137.6 1267.57 140C1267.57 142.64 1263.34 145.83 1260 145.83C1257.52 145.83 1255.94 142.76 1255.94 140' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M722.4 420C722.4 402.5 779.81 394.57 840 381.82C908.61 367.28 916.08 353.48 980 365.42C1018.28 372.57 1044.4 389.79 1044.4 420C1044.4 456.35 1021.63 492.17 980 498.54C919.43 507.81 910.63 472.81 840 451.28C781.83 433.54 722.4 437.23 722.4 420' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1531.76 420C1531.76 415.69 1537.38 414.29 1540 414.29C1541.5 414.29 1540 417.14 1540 420C1540 434 1542.02 448 1540 448C1537.9 448 1531.76 432.55 1531.76 420' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M247.87 560C247.87 534.16 266.15 487.41 280 487.41C293.23 487.41 302.02 531.87 302.02 560C302.02 568.17 291.01 560 280 560C263.93 560 247.87 570.46 247.87 560' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M531.7 560C531.7 549.76 544.61 526.33 560 526.33C577.76 526.33 598 550.37 598 560C598 567.21 579 560 560 560C545.85 560 531.7 566.59 531.7 560' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1064 560C1064 547.98 1095.93 516.92 1120 516.92C1137.26 516.92 1146.67 545.89 1146.67 560C1146.67 567.43 1133.34 560 1120 560C1092 560 1064 569.52 1064 560' stroke='rgba(12%2c 126%2c 126%2c 0.57)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
