/* Estilos Principales */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Poppins:wght@500&family=Roboto&display=swap");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

/* Tipografias */
.tx-titulo {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.tx-intermedio {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.tx-parrafo {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

/* Colores */
.tx-VerdeOscuro {
  color: #00272d;
}

.tx-VerdeClaro {
  color: #134647;
}

.tx-VerdePastel {
  color: #0c7e7e;
}

.tx-tierra {
  color: #bfac8b;
}

/* Colores de Fondo */
.bg-VerdeOscuro {
  background-color: #00272d;
}

.bg-VerdeClaro {
  background-color: #134647;
}

.bg-VerdePastel {
  background-color: #0c7e7e;
}

.bg-tierra {
  background-color: #bfac8b;
}

/*Estilos Index*/

.navbar-toggler {
  margin-right: 8px;
  background-color: #bfac8b;
  border: 1px solid #bfac8b;
}

.navbarRedem {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Estilos de la página principal */
.fondo_principal {
  filter: brightness(30%);
}

/* Cards Caracteristicas */

.section-caracteristicas {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1800' height='600' preserveAspectRatio='none' viewBox='0 0 1800 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1173%26quot%3b)' fill='none'%3e%3crect width='1800' height='600' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 0.76)'%3e%3c/rect%3e%3cpath d='M0%2c717.099C139.344%2c737.941%2c292.856%2c715.448%2c404.849%2c629.957C514.423%2c546.313%2c524.587%2c390.943%2c587.766%2c268.424C654.992%2c138.057%2c799.282%2c32.94%2c788.132%2c-113.316C776.963%2c-259.814%2c632.241%2c-353.555%2c532.147%2c-461.108C435.668%2c-564.778%2c345.697%2c-677.029%2c214.316%2c-729.895C75.247%2c-785.854%2c-90.413%2c-832.062%2c-224.831%2c-765.705C-357.905%2c-700.012%2c-363.851%2c-511.612%2c-458.838%2c-397.586C-551.057%2c-286.883%2c-753.527%2c-253.857%2c-770.413%2c-110.769C-787.404%2c33.207%2c-617.122%2c124.955%2c-534.569%2c244.13C-468.556%2c339.427%2c-420.667%2c442.653%2c-333.844%2c519.471C-234.991%2c606.933%2c-130.539%2c697.574%2c0%2c717.099' fill='rgba(0%2c 30%2c 34%2c 0.76)'%3e%3c/path%3e%3cpath d='M1800 1077.857C1887.967 1088.008 1973.091 1028.6390000000001 2034.421 964.765 2089.76 907.131 2092.71 821.13 2118.963 745.6659999999999 2142.388 678.333 2181.4809999999998 616.597 2180.344 545.315 2179.115 468.297 2154.738 393.669 2112.321 329.372 2065.862 258.947 2006.358 195.106 1928.258 163.192 1845.865 129.52300000000002 1752.32 121.69799999999998 1667.119 147.449 1582.241 173.103 1501.783 226.993 1459.4270000000001 304.892 1419.6390000000001 378.068 1443.431 466.329 1448.531 549.466 1452.644 616.513 1460.864 681.09 1486.317 743.254 1512.659 807.5889999999999 1550.403 863.6800000000001 1597.949 914.3969999999999 1658.423 978.904 1712.162 1067.721 1800 1077.857' fill='rgba(0%2c 48%2c 56%2c 0.76)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1173'%3e%3crect width='1800' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.img-card {
  filter: brightness(50%);
}

.img-card:hover {
  filter: brightness(90%);
}

.btn-tierra {
  font-family: Nunito;
  background-color: #bfac8b;
  border: #bfac8b 1px solid;
}

.btn-tierra:hover {
  background-color: #0c7e7e;
  border: #0c7e7e 1px solid;
}

.cards-index {
  background-color: #ffffffdd;
}

/* Sección Problema/Oportunidad */
.tx-justificado {
  text-align: justify;
}

.img-card2 {
  filter: brightness(100%);
}

.img-card2:hover {
  filter: brightness(60%);
}

.seccion-miembros {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='500' preserveAspectRatio='none' viewBox='0 0 1440 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1717%26quot%3b)' fill='none'%3e%3crect width='1440' height='500' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 0.93)'%3e%3c/rect%3e%3cpath d='M14 500L514 0L775 0L275 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M337.8 500L837.8 0L1202.3 0L702.3 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M652.6 500L1152.6 0L1418.1 0L918.1 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M1399 500L899 0L825.5 0L1325.5 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3cpath d='M1106.2 500L606.2 0L400.70000000000005 0L900.7 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3cpath d='M785.4 500L285.4 0L-5.600000000000023 0L494.4 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3cpath d='M1013.3060401022808 500L1440 73.3060401022808L1440 500z' fill='url(%26quot%3b%23SvgjsLinearGradient1718%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 500L426.6939598977192 500L 0 73.3060401022808z' fill='url(%26quot%3b%23SvgjsLinearGradient1719%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1717'%3e%3crect width='1440' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1718'%3e%3cstop stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1719'%3e%3cstop stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(191%2c 172%2c 139%2c 0.12)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.card-miembros {
  background-color: rgba(240, 248, 255, 0.603);
}

/* Fondos de Secciones */
.section-avance {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1800' height='1300' preserveAspectRatio='none' viewBox='0 0 1800 900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1162%26quot%3b)' fill='none'%3e%3crect width='1800' height='900' x='0' y='0' fill='rgba(0%2c 39%2c 45%2c 0.76)'%3e%3c/rect%3e%3cpath d='M0%2c533.555C97.539%2c517.206%2c187.865%2c473.179%2c262.091%2c407.821C329.476%2c348.487%2c348.258%2c256.287%2c399.007%2c182.221C463.601%2c87.95%2c601.053%2c27.909%2c600.705%2c-86.368C600.365%2c-198.118%2c473.332%2c-262.358%2c397.403%2c-344.352C324.221%2c-423.38%2c268.707%2c-533.388%2c163.871%2c-558.093C59.733%2c-582.633%2c-36.555%2c-504.048%2c-138.169%2c-470.56C-235.834%2c-438.374%2c-346.179%2c-435.248%2c-421.457%2c-365.194C-500.133%2c-291.978%2c-549.923%2c-187.374%2c-557.662%2c-80.18C-565.174%2c23.867%2c-501.505%2c114.499%2c-463.09%2c211.486C-422.323%2c314.409%2c-416.254%2c443.078%2c-325.37%2c506.286C-234.171%2c569.713%2c-109.559%2c551.918%2c0%2c533.555' fill='rgba(0%2c 32%2c 37%2c 0.76)'%3e%3c/path%3e%3cpath d='M1800 1627.202C1946.229 1627.095 2098.36 1634.4850000000001 2224.632 1560.74 2353.316 1485.586 2457.89 1362.421 2498.758 1219.112 2537.508 1083.231 2460.681 947.754 2439.2709999999997 808.087 2418.1130000000003 670.06 2477.103 496.719 2373.645 402.934 2267.962 307.13199999999995 2092.878 408.84 1955.701 369.73 1820.264 331.116 1728.134 162.25199999999995 1588.3029999999999 179.02599999999995 1449.862 195.63300000000004 1348.261 328.269 1281.3890000000001 450.621 1220.8310000000001 561.4200000000001 1262.722 695.352 1238.382 819.252 1212.194 952.556 1108.701 1070.867 1133.292 1204.475 1159.836 1348.695 1251.124 1482.835 1374.97 1561.359 1498.5520000000001 1639.716 1653.67 1627.309 1800 1627.202' fill='rgba(0%2c 46%2c 53%2c 0.76)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1162'%3e%3crect width='1800' height='900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
